.card-container {
  width: 440px;
  min-height: 300px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 40px rgb(152 145 158 / 10%);
  border: 1px solid rgba(117, 125, 154, 0.3);

  .card-content {
    padding: 30px;

    .card-header {
      display: flex;
      align-items: center;
      gap: 10px;

      i {
        font-weight: 500;
        font-size: 2rem;
        color: var(--green-color);
      }

      .card-title {
        font-size: var(--heading-2);
        font-weight: 500;
      }
    }

    .card-desc {
      font-size: var(--sub-heading-2);
      color: var(--gray-color);
      text-align: justify;
    }
  }
}

@media only screen and (max-width: 430px) {
  .why-container {
    padding: 40px 20px;
  }
  .card-content {
    padding: 20px !important;
    .card-header {
      i {
        font-size: 1.1rem !important;
      }
      .card-title {
        font-size: 0.8rem !important;
      }
    }
    .card-desc {
      font-size: 0.8rem !important;
    }
  }
}
