:root {
  --dark-green: rgb(89, 100, 87);
  --green-color: rgb(177, 200, 173);
  --dark-gray: rgb(55, 71, 79);
  --light-gray: rgb(69, 90, 100);
  --gray-color: rgb(112, 112, 112);

  --title-font: 2.7rem;
  --sub-title-font: 1rem;

  --heading-2: 1.3rem;
  --sub-heading-2: 0.9rem;
}
