@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-size: 1.1rem;
  color: var(--dark-gray);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

// @media only screen and (max-width: 430px) {
//   * {
//     font-size: 0.7rem;
//   }
// }
