.navbar {
  padding-right: 10%;
  padding-left: 10%;
  background-color: var(--green-color) !important;
  box-shadow: 0 10px 30px -15px gray;
  position: fixed;
  width: 100%;
  z-index: 10;

  .nav-logo {
    height: 30px;
    padding-right: 50px;
  }

  .navbar-collapse {
    justify-content: end;

    // li {
    //   margin-left: 25px;
    // }

    li {
      margin-left: 10px;
    }
  }

  .nav-link {
    font-weight: 500;
  }
}

@media only screen and (max-width: 430px) {
  .nav-logo {
    height: 20px !important;
  }

  li {
    font-size: 1.2rem;
  }
}
