.hero-container {
  min-height: 100vh;
  background: linear-gradient(
    153deg,
    rgba(177, 200, 173, 1) 0%,
    rgba(152, 172, 149, 1) 45%,
    rgba(57, 66, 55, 1) 100%
  );

  .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    min-height: 100vh;

    .hero-left-sec {
      .title {
        font-size: var(--title-font);
        font-weight: 800;
      }

      .sub-title {
        font-size: var(--title-font);
        font-weight: 500;
      }

      .btn {
        background-color: var(--dark-green);
        border: var(--dark-green);
        margin-top: 3%;
        font-weight: 500;

        &:hover {
          opacity: 80%;
        }
      }

      .seek-job {
        margin-top: 2%;
        font-size: var(--sub-heading-2);

        span {
          font-weight: 700;
          text-decoration: underline;
          font-size: var(--sub-heading-2);
        }
      }
    }

    .hero-right-sec {
      .n-logo {
        height: 50vh;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .hero-content {
    gap: 50px !important;
  }

  .hero-left-sec {
    .title {
      font-size: 2.4rem !important;
    }
    .sub-title {
      font-size: 2.4rem !important;
    }
  }

  .hero-right-sec {
    .n-logo {
      height: 33vh !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero-content {
    gap: 20px !important;
  }

  .hero-left-sec {
    .title {
      font-size: 2rem !important;
    }
    .sub-title {
      font-size: 2rem !important;
    }
  }

  .hero-right-sec {
    .n-logo {
      height: 25vh !important;
    }
  }
}

@media only screen and (max-width: 430px) {
  .hero-content {
    gap: 50px !important;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-left-sec {
    text-align: center;

    .title {
      font-size: 2rem !important;
    }
    .sub-title {
      font-size: 2rem !important;
    }
  }

  .hero-right-sec {
    .n-logo {
      height: 35vh !important;
    }
  }
}
